<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="LoginServicesPortBinding"
                        maxBufferSize="1073741824" maxReceivedMessageSize="1073741824"/>
                        <binding name="ProfesorServicesPortBinding"
                        maxBufferSize="1073741824" maxReceivedMessageSize="1073741824"/>
                        <binding name="AdministradorServicesPortBinding"
                        maxBufferSize="1073741824" maxReceivedMessageSize="1073741824"/>
                        <binding name="AlumnoServicesPortBinding"
                        maxBufferSize="1073741824" maxReceivedMessageSize="1073741824"/>
                  
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost:8080/SinapxonSoftServices/ProfesorServices"
                        binding="basicHttpBinding" bindingConfiguration="ProfesorServicesPortBinding"
                        contract="Profesor.ProfesorServices" name="ProfesorServicesPort" />
                <endpoint address="http://localhost:8080/SinapxonSoftServices/LoginServices"
                        binding="basicHttpBinding" bindingConfiguration="LoginServicesPortBinding"
                        contract="Login.LoginServices" name="LoginServicesPort" />
                <endpoint address="http://localhost:8080/SinapxonSoftServices/AdministradorServices"
                        binding="basicHttpBinding" bindingConfiguration="AdministradorServicesPortBinding"
                        contract="Administrador.AdministradorServices" name="AdministradorServicesPort" />
                <endpoint address="http://localhost:8080/SinapxonSoftServices/AlumnoServices"
                        binding="basicHttpBinding" bindingConfiguration="AlumnoServicesPortBinding"
                        contract="Alumno.AlumnoServices" name="AlumnoServicesPort" />
        </client>
    </system.serviceModel>
</configuration>
